body {
  padding: 0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: #3E1944; /*just to test*/
  display:flex;
  width:100%;
  height:7.5rem;
  overflow:auto;
  background-image: linear-gradient(45deg, #2A112E, #64286e)
}

.login-signup-div {
  display:flex;
  margin-left:auto;
  max-width:30%;
  margin-right: 2%;
  text-align: center;
}

.account-buttons {
  margin:20px;
  width:100px;
}

.title {
  color:white;
  font-style:italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:40px;
  margin-left:2%;
}

.flex-container {
  display: flex;
  height:100%;
  width:100%;
}


.sidebar {
  flex-basis:10%;
  max-width: 8%;
  text-align: center;
  background-color: #341539;
  flex-grow:0;
  flex-shrink: 0;
  background-image: linear-gradient(45deg, #2A112E, #341539)
}

.side-button {
  font-size:20px;
  height:6rem;
  margin-top:40px;
  width:70%;
}

.maincontent {
  flex-basis:90%;
  min-width:92%;
  flex-grow:0;
  flex-shrink:0;
  background-color: #2A112E;
}