body {
  padding: 0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  background-color: #3E1944; /*just to test*/
  display:flex;
  width:100%;
  height:7.5rem;
  overflow:auto;
  background-image: linear-gradient(45deg, #2A112E, #64286e)
}

.login-signup-div {
  display:flex;
  margin-left:auto;
  max-width:35%;
  margin-left:auto;
  margin-right: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.account-buttons {
  margin:15px;
  width:auto;
  height:auto;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(135deg, #f6e27a, #d4af37, #f6e27a);
}

.title {
  color:white;
  font-style:italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:45px;
  margin-left:2%;
  background: linear-gradient(135deg, #f6e27a, #d4af37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex-container {
  display: flex;
  height:100%;
  width:100%;
}

.sidebar {
  flex-basis: 120px;
  text-align: center;
  background-color: #341539;
  flex-grow:0;
  flex-shrink: 0;
  background-image: linear-gradient(45deg, #2A112E, #341539)
}

.side-button {
  font-size:19px;
  height:6rem;
  margin-top:40px;
  width:70%;
}

#maincontent {
  flex-grow: 1;
  flex-shrink:0;
  background-color: #2A112E;
}

.packs {
  display:flex;
  margin-left:10px;
}

.store h2 {
  font-size:30px;
  color:white;
  margin-left:10px;
}

.cardPack {
  font-size:20px;
  height:200px;
  width:180px;
  justify-content: center;
  align-items:center;
  text-align: center;
  background-color: white;
  margin: 10px
}

.packPage {
  background-color: aliceblue;
}